body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    padding: 20px;
}
.navigation {
    margin-top: 25px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.max-width-1{
    max-width: 80vw;
}

.m-auto{
    margin: auto;
}

.my-2{
    margin-top: 32px;
    margin-bottom: 32px;
}