body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.about-section {
    max-width: 80%;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

h1, h2 {
    color: #2c3e50;
}

p {
    line-height: 1.6;
    font-size: 16px;
}



.manager-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.manager-section .text {
    flex: 1;
    padding-right: 20px;
}

.manager-section .image {
    flex-basis: 250px;
    text-align: center;
}

.manager-section .image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.caption {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    color: #555;
}